{% extends 'core/base.html' %}

{% block bloque_titulo %}
    MI BLOG
{% endblock bloque_titulo %}

{% block bloque_h1_header %}
    Eliminar publicación
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Estás a punto de eliminar esta publicación
{% endblock bloque_sub_header %}

{% block contenidoquecambia %}
    <section data-animate class="bg-light">
        <div class="container d-flex justify-content-center">
            <form class="card p-4 col-md-6 lead fst-italic" method="POST">
                {% csrf_token %}
                <p>¿Desea eliminar el post?</p>
                <div class="py-3 text-center">
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-trash"></i> Eliminar</button>
                    <a class="btn btn-outline-danger fst-italic" href={% url 'ver_post' post.id %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </section>
{% endblock contenidoquecambia %}
