{% extends 'core/base.html' %}

{% block bloque_titulo %}
    MI BLOG | Posts
{% endblock bloque_titulo %}

{% block bloque_posts_active %}
    active
{% endblock bloque_posts_active %}

{% block bloque_nav_items %}
    {% if request.user.is_authenticated and not request.user.is_staff %}
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'nuevo_post' %}"><i class="bi bi-journal-richtext"></i> Nuevo</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'buscar_posts' %}"><i class="bi bi-search"></i> Buscar</a></li>
{% endblock bloque_nav_items %}

{% block bloque_h1_header %}
    Posts
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Listado de publicaciones
{% endblock bloque_sub_header %}

{% block contenidoquecambia %}
    <section data-animate class="bg-light">
        <div class="container px-4 px-lg-5">
            {% if posts %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for post in posts %}
                            <div class="card mb-4" data-animate>
                                <div class="card-body">
                                    <a href="{% url 'ver_post' post.id %}" class="text-decoration-none">
                                        <h2 class="card-title">{{ post.titulo }}</h2>
                                        <h3 class="card-subtitle mb-2">{{ post.subtitulo }}</h3>
                                    </a>
                                    <p class="card-text"><small>Posteado por {{ post.autor }} el {{ post.fecha_creacion }}.</small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="p-3 p-lg-4 lead fst-italic">
                    <p>No hay publicaciones creadas en este momento.</p>
                </div>
            {% endif %}
        </div>
    </section>
    
    <!-- Botón de agregar nuevo post -->
    {% if request.user.is_authenticated and not request.user.is_staff %}
    <section data-animate class="bg-light">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <a href={% url 'nuevo_post' %} class="btn btn-primary mb-3">Agregar nuevo post</a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock contenidoquecambia %}
