{% extends 'core/base.html' %}

{% block bloque_titulo %}
    MI BLOG | Cambiar contraseña
{% endblock bloque_titulo %}

{% block bloque_h1_header %}
    Cambiar contraseña
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Establecé una nueva contraseña
{% endblock bloque_sub_header %}

{% block contenidoquecambia %}
    <section data-animate class="bg-light">
        <div class="container d-flex justify-content-center">
            <form class="card p-4 col-md-6 col-lg-4" action={% url 'change_password' %} method="POST">
                {% csrf_token %}
                <table class="w-100 fst-italic">
                    {{ formulario_change_password.as_table }}
                </table>
                <div class="py-3 text-center">
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-save2"></i> Guardar</button>
                    <a class="btn btn-outline-danger fst-italic" href={% url 'ver_perfil' %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </section>
{% endblock contenidoquecambia %}
